<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn()">
  <a class="navbar-brand">PostIT</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/view-posts']"
          >Posts<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/create-post']">Create post</a>
      </li>
      <li class="nav-item dropdown">
        <div class="btn-group dropdown">
          <div class="dropdown show">
            <a
              class="btn btn-secondary dropdown-toggle"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Filter on topic
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a
                class="dropdown-item"
                id="dropdown"
                *ngFor="let topic of topics"
                [routerLink]="['/view-posts', topic?.topic]"
                >{{ topic?.topic}}</a
              >
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a class="text-white pr-sm-3" *ngIf="user" [routerLink]="['/user-profile']">
      {{ user.displayName }}
    </a>
    <button type="button float-right" class="btn btn-danger" (click)="logout()">
      Logout
    </button>
  </div>
</nav>
<br />
<router-outlet></router-outlet>
<div>
  <app-footer class="mt-auto"></app-footer>
</div>
