<div class="container w-50">
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{ post?.title }}</h4>
      <small class="text-muted">{{ this.post.timestamp.toDate().toLocaleString() }}</small>
    </div>
    <div>
      {{ post?.content }}
    </div>
    <small class="text-muted">{{
      "Points: " + post?.points + " | " + post?.topic
    }}</small>
    <button
      type="button"
      class="btn btn-danger float-right"
      (click)="deletePost(post)"
      routerLink="/view-posts"
    >
      Delete post
    </button>
    <button
      type="button"
      class="btn btn-primary mr-1 float-right"
      (click)="upvotePost(post)"
    >
      👍
    </button>
    <button
      type="button"
      class="btn btn-primary mr-1 float-right"
      (click)="downvotePost(post)"
    >
      👎
    </button>
    <br />
    <br />
    <div *ngIf="post">
      <app-comments-view [post]="post"></app-comments-view>
    </div>
  </div>
</div>
