<div class="container w-50 shadow p-3"  >

  <section class="form-dark mb-5">
    <div class="card card-image" style="background-image: url('https://i.imgur.com/HueQcye.png');">
      <div class="text-black rgba-stylish-strong py-5 px-5 z-depth-4">
        <div class="text-center">
            <h1 class="display-2 text-white">Create Post</h1>
        </div>
        <h1></h1>

        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
          <div class="form-group">
              <div class="card bg-secondary text-white text-center font-weight-lighter">
                  <h6>Title</h6>
                </div>            <input
              name="title"
              type="text"
              class="form-control"
              id="title"
              placeholder="Enter post title"
              [(ngModel)]="post.title"
              #title="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && title.invalid }"
              required
            />
            <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
              <div *ngIf="title.errors.required">
                Title is required
              </div>
            </div>
          </div>
          <div class="form-group">


              <div class="card bg-secondary text-white text-center font-weight-lighter">
                  <h6>Content</h6>
                </div>
            <textarea
              name="content"
              class="form-control"
              id="content"
              rows="3"
              [(ngModel)]="post.content"
              #content="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && content.invalid }"
              required
            ></textarea>
            <div
              *ngIf="f.submitted && content.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="content.errors.required">
                Content is required
              </div>
            </div>
          </div>
          <div class="card bg-secondary text-white text-center font-weight-lighter">
              <h6>Topic</h6>
            </div>
          <select
            class="form-control"
            id="sel1"
            [(ngModel)]="post.topic"
            name="topics"
            #topic="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && topic.invalid }"
            required
          >
            <option disabled hidden [value]="placeholder">Pick a topic</option>
            <option
              name="topic"
              id="topic"
              *ngFor="let topic of topics"
              [value]="topic.topic"
            >
              {{ topic.topic }}
            </option>
          </select>
          <div *ngIf="f.submitted && topic.invalid" class="invalid-feedback">
            <div *ngIf="topic.errors.required">
              Topic is required
            </div>
          </div>
          <br />

          <div class="text-center col-md-12 mt-3 mb-2">
            <button
              type="submit"
              class="btn btn-success p-3 btn-block btn-rounded z-depth-1"
            >
              Send
            </button>
          </div>
        </form>

        <div class="row d-flex align-items-center">

        </div>
      </div>
    </div>
  </section>
</div>
