<div class="container w-50">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Title</label>
      <input
        name="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter post title"
        [(ngModel)]="post.title"
      />
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea
        name="content"
        class="form-control"
        id="content"
        rows="3"
        [(ngModel)]="post.content"
      ></textarea>
    </div>
    <label for="sel1">Topic</label>
    <select class="form-control" id="sel1" [(ngModel)]="post.topic" name="topics">
      <option disabled hidden [value]="placeholder">Pick a topic</option>
      <option
        name="topic"
        id="topic"
        *ngFor="let topic of topics"
        [value]="topic.topic"
      >
      {{topic.topic}}
      </option>
    </select>
    <br />
    <button type="submit" class="btn btn-primary">Add post</button>
  </form>
  <br />
  <br />
  <br />
</div>
